body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background: url("../../images/bg_body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}
.box h2{
    margin: 0% 0% 30px;
    padding: 0%;
    color: #fff;
    text-align: center;
}
.box .inputbox{
    position: relative;
}
.box .inputbox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
}
.box .inputbox label{
    position: absolute;
    top: 0%;
    left: 0%;
    color: #fff;
    letter-spacing: 1px;
    pointer-events: none;
    transition: .5s;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
    {
    top: -18px;
    left: 0%;
    font-size: 12px;
    color: #03a9f4;
}
.box input[type="submit"]{
    background: transparent;
    border: none;
    background-color: #03a9f4;
    outline: none;
    color: #fff;
    font-size:100%;
    padding: 2% 3%;
    cursor: pointer;
    border-radius: 5px;
}
form a{
    text-decoration-line: none;
    text-align: center;
    margin-left: 30%;
}
.forget_password{
    cursor: pointer;
}
.restaure_password{
    display: none;
}

